.App {
  font-family: sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
}
h1 {
  text-align: center;
}
.calculator-screen {
  border: 2px solid palegreen;
  background-color: cornsilk;
  height: 20vh;
  font-size: 30px;
}
.col {
  margin: 10px;
  padding: 10px;
  font-size: 30px;
}
.special {
  color: white;
  background-color: palevioletred;
}

.side {
  color: white;
  background-color: plum;
}

.container {
  height: 40vh;
  width: 50vw;
}
